/* Common styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  background-color: #469165;
  border: 1px solid #469165;
  border-radius: 5px;
}
.btn:hover {
  background-color: #dbdbdb8c;
  color: #469165;
}
.btn-combind,
.btn {
  padding: 10px 16px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
}
.title{
text-transform: capitalize;
font-size: 35px;
color: #001931;
font-weight: 700;
}
.details{
font-size: 14px; color: #627382;
line-height: 20px;
margin: 15px 0px;
font-weight: 400;

}
/* Main styles */

/* header styles */
nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
}
.nav-logo img {
  width: 120px;
  height: 50px;
}
.nav-menu {
  display: flex;
  gap: 32px;
  justify-content: space-around;
  align-items: center;
}
.nav-menu li {
  list-style: none;
}
.nav-menu li a {
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  font-weight: medium;
}

.hero-section {
  width: 100%;
  /* height: 600px; */
  background: linear-gradient(0deg, rgb(116 92 251 / 9%), rgb(4 1 20 / 0%)),
    url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain
}

.hero-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 120px 0px;
}
.access-btn {
  border: 1px solid #ffffff;
  color: #469165;
  border-radius: 50px;
  padding: 8px 12px;
}
.access-btn:hover,
.start-btn:hover {
  background-color: transparent;
}
.see-btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.see-btn:hover {
  background-color: #469165;
  border: 1px solid #469165;
}
.hero-title {
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  margin: 25px 0px;
}
.hero-title span {
  color: #30b868;
}
.hero-details {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  margin-bottom: 25px;
}
.btn-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

/* Note Section Styles */
.note-section{
  width: 80%;
  margin: 0 auto;
  padding: 80px 0px;
}
.note-discription{
  text-align: center;
  margin-bottom: 50px;
}
.note-card-container{

  display: flex;
  gap: 24px;
  justify-content: space-around;
  align-items: center;
}
.note-card{
text-align: center;
padding:20px 0px;
}
.note-card img{
  width: 25px;
  height: 25px;
  padding: 8px;
  border-radius: 100%;
  background-color: #F95555;
  cursor: pointer;
}
.note-card h3{
text-transform: capitalize;
font-size: 18px;
color: #001931;
margin: 16px 0px;
font-weight: 700;
}

.note-card p{
color: #627382;
font-size: 14px;
line-height: 20px;
}


/* Brain Section Styles */
.brain-section{
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 90px;
}
.brain-img-container img {
    width: 500px;
}
.brain-discription {
    padding: 20px 125px 20px 20px;
}
.brain-discription h6 {
    text-transform: uppercase;
    color: #469165;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 16px;
}
.checklist-menu {
    margin-top: 28px;
}
.checklist-menu li {
    list-style: none;
    line-height: 28px;
}

.checklist-menu li a {
    text-decoration: none;
    font-size: 15px;
    color: #001931;
}

.checklist-menu li a img {
    width: 13px;
    height: 13px;
    margin-right: 11px;
}