/* Common styles */
*{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
  background-color: #469165;
  border: 1px solid #469165;
  padding: 10px 16px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 600;
}
.btn:hover{
  background-color: #dbdbdb8c;
  color: #469165;
}
/* Main styles */
nav{
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
}
.nav-logo img{
  width: 120px;
  height: 50px;
}
.nav-menu{
  /* width: 367px; */
  display: flex;
  gap: 32px;
  justify-content: space-around;
  align-items: center;
}
.nav-menu li{
  list-style: none;
}
.nav-menu li a{
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  font-weight: medium;
}