/* Common styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  background-color: #469165;
  border: 1px solid #469165;
  border-radius: 5px;
}
.btn:hover {
  background-color: #dbdbdb8c;
  color: #469165;
}
.btn-combind,
.btn {
  padding: 10px 16px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
}
/* Main styles */

/* header styles */
nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
}
.nav-logo img {
  width: 120px;
  height: 50px;
}
.nav-menu {
  display: flex;
  gap: 32px;
  justify-content: space-around;
  align-items: center;
}
.nav-menu li {
  list-style: none;
}
.nav-menu li a {
  text-decoration: none;
  font-size: 15px;
  color: #000000;
  font-weight: medium;
}

.hero-section {
  width: 100%;
  height: 600px;
  background: linear-gradient(0deg, rgb(116 92 251 / 9%), rgb(4 1 20 / 0%)),
    url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain
}

.hero-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 120px 0px;
}
.access-btn {
  border: 1px solid #ffffff;
  color: #469165;
  border-radius: 50px;
  padding: 8px 12px;
}
.access-btn:hover,
.start-btn:hover {
  background-color: transparent;
}
.see-btn {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.see-btn:hover {
  background-color: #469165;
  border: 1px solid #469165;
}
.hero-title {
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  margin: 25px 0px;
}
.hero-title span {
  color: #30b868;
}
.hero-details {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  line-height: 26px;
  margin-bottom: 25px;
}
.btn-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
